* {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
}

.before-header > .particles-js-canvas-el {
  background-color: #d3a05f;
}

h1 {
  font-size: 3em !important;
  margin: 14px 0 14px 0;
  font-weight: 600;
  font-family: inherit;
}

h2 {
  font-size: 2.5em !important;
  margin: 14px 0 14px 0;
  font-weight: 600;
  font-family: inherit;
}

h3 {
  font-size: 2.1em !important;
  margin: 14px 0 14px 0;
  font-weight: 600;
  font-family: inherit;
}

h4 {
  font-size: 1.8em !important;
  margin: 14px 0 14px 0;
  font-weight: 600;
  font-family: inherit;
}

h5 {
  font-size: 1.5em !important;
  margin: 14px 0 14px 0;
  font-weight: 600;
  font-family: inherit;
}

pre {
  font-family: "Overpass Mono", monospace !important;
  background-color: rgba(33, 33, 33, 0.1);
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.8em !important;
  overflow: auto;
}

code {
  font-family: "Overpass Mono", monospace !important;
  background-color: rgba(33, 33, 33, 0.1);
}

blockquote {
  margin: 1em 2.5em 1em 2.5em;
  border-left: 7px solid #d3a05f;
  background-color: whitesmoke;
  padding: 1em 1.3em 1em 1.3em;
  font-weight: 400;
  font-family: inherit;
}

p {
  font-weight: 400;
  font-family: inherit;
}

.body-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container-nr {
  width: 100%;
  max-width: 1100px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  border-radius: 3px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  width: 100%;
  transition: all 0.3s;
}
.title input {
  width: 100%;
  border-width: 0;
  padding: 0.44em 0.63em 0.44em 0.63em;
}
.title input#page-title {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.title input#page-description {
  border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.title input:focus {
  outline: none;
}
.title.outer-container {
  display: block;
}

.outer-container {
  width: 100%;
  height: 1500px;
  border-radius: 3px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}
.outer-container .toolbar {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  padding-left: 10px;
  flex-wrap: wrap;
  display: flex;
}
.outer-container .toolbar.sticky {
  position: fixed;
  top: 0px;
}
.outer-container .toolbar.sticky > .separator {
  margin-top: 0;
}
.outer-container .toolbar .button {
  all: unset;
  /* height: 20px; */
  margin: 10px 0 10px 10px;
  cursor: pointer;
  width: 20px;
  text-align: center;
  padding: 5px 5px;
  /* background-color: lightblue; */
  border-radius: 3px;
}
.outer-container .toolbar .button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.outer-container .toolbar .button:hover i {
  color: rgba(0, 0, 0, 0.7);
}
.outer-container .toolbar .button i {
  color: gray;
}
.outer-container .toolbar .button-selected {
  background-color: rgba(0, 0, 0, 0.18);
}
.outer-container .toolbar .button-selected i {
  color: rgba(0, 0, 0, 0.7);
}
.outer-container .toolbar .separator {
  margin: 5px 10px 0 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  transition: margin 0.5s;
}
.outer-container .toolbar .dropdown {
  position: relative;
  /* all: unset; */
  /* height: 20px; */
  border-radius: 3px;
  margin: auto 10px auto 10px;
  cursor: pointer;
}
.outer-container .toolbar .dropdown .dropdown-button {
  border: none;
  cursor: pointer;
  padding: 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 3px 12px;
  border-radius: 3px;
}
.outer-container .toolbar .dropdown .dropdown-button i {
  position: relative;
}
.outer-container .toolbar .dropdown .dropdown-button i.fa-caret-down {
  position: absolute;
  top: 11px;
  right: -7px;
  font-size: 8px;
}
.outer-container .toolbar .dropdown .dropdown-button.open {
  z-index: 2;
  border-bottom-left-radius: 0px;
  border-bottom: 2px solid white;
  position: relative;
}
.outer-container .toolbar .dropdown .dropdown-content {
  display: none;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: auto;
  padding: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: left;
  position: absolute;
  transform: translateY(-2px);
}
.outer-container .toolbar .dropdown .dropdown-content.show {
  display: block;
}
.outer-container .toolbar .dropdown .dropdown-content .dropdown-option {
  white-space: nowrap;
}
.outer-container .toolbar .dropdown .dropdown-content .dropdown-option * {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}
.outer-container .editor {
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: white;
  border: 0px;
  padding: 1em 1.3em 1em 1.3em;
  resize: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-family: inherit;
  font-size: 18px;
}
.outer-container .editor * {
  font-family: inherit;
  font-size: 1em;
}
.outer-container .editor:focus {
  outline: none;
}
.outer-container .statusbar {
  background-color: #ffa631;
  height: 1.5em;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.outer-container .statusbar .status-element {
  margin: 0 1em 0 1em;
}

/*# sourceMappingURL=editor_base.css.map */
